<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.name }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>
            <a href="https://linkedin.com/in/jinsoocha" target="_blank">
               <i class="fa fa-linkedin" style="color:grey"></i>&nbsp;jinsoocha
            </a>
          </li>
          <li>
            <a href="https://medium.com/@jinsoocha" target="_blank">
               <i class="fa fa-medium" style="color:grey"></i>&nbsp;jinsoocha
            </a>
          </li>
          <li>
            <a href="https://instagram.com/jinsoochacoaching" target="_blank">
               <i class="fa fa-instagram" style="color:grey"></i>&nbsp;jinsoochacoaching
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
